@charset "utf-8";
/* CSS Document */

#blog h3, h4{
	text-align: center;
}

#blog .contenedor{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#blog article{
	margin: 15px;
}

#blog img {
	width: 100%;
	max-width: 280px;
}

#blog a{
	text-decoration: none;
	color:#333;
}

#formulario{
	text-align: center;
}
